---
plugin: google.cloud.gcp_compute

projects:
  - spark-cluster-project-479107"  # VOTRE PROJECT ID

filters:
  - labels.cluster = spark

keyed_groups:
  - key: labels.role
    prefix: ""
    separator: ""

hostnames:
  - name

compose:
  ansible_host: networkInterfaces[0].accessConfigs[0].natIP
  ansible_user: ansible
  ansible_ssh_private_key_file: ~/.ssh/spark-cluster-key
  ansible_python_interpreter: /usr/bin/python3
